* {
    box-sizing: border-box;
    font-family: 'Eastman';
}

*::after {
    box-sizing: border-box
}

*:before {
    box-sizing: border-box
}

html {
    font-size: 16px;
    font-family: Eastman;
    font-weight: 400;
}

.preloader {
    display: none;

}

/* .lottie-animation {

  } */

.preloader.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7dfdd;
    background-image: linear-gradient(#e7dfdd, #f3efd5, #e7dfdd);

}


.lottie-animation.disabled {
    display: none;
}


.lottie-animation {
    display: block;
}


.cat-box {
    position: relative;
    width: 30vw;
    height: 30vw;
    font-size: 1.5vw;
    color: #353952;
}

.cat-box:hover *,
.cat-box:hover *::before,
.cat-box:hover *::after {
    animation-play-state: paused !important;
}

.cat-box:active *,
.cat-box:active *::before,
.cat-box:active *::after {
    animation-play-state: running !important;
}

.helf-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15vw;
    transform-origin: 50% 100%;
}

.helf-box.clip {
    overflow: hidden;
}

@keyframes mouth {
    from {
        transform: translateY(0.3em) scaleY(0.4);
    }

    to {
        transform: none;
    }
}

@keyframes head-ratate {
    from {
        transform: rotate(720deg);
    }

    to {
        transform: none;
    }
}

@keyframes head-body-ratate {
    0% {
        transform: rotate(-130deg);
    }

    25%,
    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-50deg);
    }

    60% {
        transform: rotate(-80deg);
    }

    100% {
        transform: rotate(-130deg);
    }
}

@keyframes ass-ratate {
    from {
        transform: rotate(600deg);
    }

    to {
        transform: rotate(-120deg);
    }
}

@keyframes ass-body-ratate {
    0% {
        transform: rotate(120deg);
    }

    25% {
        transform: rotate(60deg);
    }

    40% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(60deg);
    }

    100% {
        transform: rotate(120deg);
    }
}

.helf-box--head {
    animation: head-ratate 2.79s infinite;
}

.helf-box--head .cat__body::before {
    animation: head-body-ratate 2.79s linear infinite;
    transform: rotate(-130deg);
}

.helf-box--ass {
    transform: rotate(600deg);
    animation: ass-ratate 2.79s 0.4s infinite;
}

.helf-box--ass .cat__body::before {
    animation: ass-body-ratate 2.79s linear infinite;
    transform: rotate(120deg);
}

.cat__head {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 5em;
    height: 5em;
    transform: rotate(30deg);
    transform-origin: 15vw 0;
    background-image: linear-gradient(-30deg, transparent 1.9em, #f0a75a 0), linear-gradient(90deg, transparent 1.5em, #f0a75a 0);
    background-size: 70% 50%, 80% 70%;
    background-repeat: no-repeat;
    background-position: 100% 100%, 0 0;
}

.cat__face {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform-origin: 15vw 0;
    transform: rotate(-30deg) translateY(-100%);
}

.cat__eyes {
    position: absolute;
    left: 50%;
    bottom: 0.75em;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    box-shadow: 1em 0 0 0.2em, -1em 0 0 0.2em;
    transform: rotate(7.5deg);
}

.cat__mouth {
    position: absolute;
    left: 54%;
    bottom: 1.4em;
    transform: rotate(10deg);
}

.cat__mouth::before {
    content: '';
    position: absolute;
    left: -0.3em;
    bottom: 0.4em;
    width: 0.6em;
    height: 0.5em;
    border: 0.175em solid;
    background-color: #c5853d;
    border-bottom-color: transparent;
    border-top-left-radius: 0.3em 0.4em;
    border-top-right-radius: 0.3em 0.4em;
    animation: mouth 1.395s linear infinite alternate;
}

.cat__mouth::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 2px;
    margin-left: -1px;
    border-radius: 50%;
    box-shadow: 0.2em -0.3em 0 0.1em #f0a75a, 0.2em -0.4em 0 0.175em, -0.2em -0.3em 0 0.1em #f0a75a, -0.2em -0.4em 0 0.175em;
}

.cat__ears {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: -0.4em;
    height: 0.5em;
    background-color: currentColor;
}

.cat__ears::before,
.cat__ears::after {
    content: '';
    position: absolute;
    top: 0;
    width: 1.5em;
    height: 1.5em;
    border-bottom: 0.5em solid;
    background-color: #f0a75a;
}

.cat__ears::before {
    left: 0;
    border-left: 0.5em solid;
    transform-origin: 0 0;
    transform: skewY(-35deg);
    border-bottom-left-radius: 0.7em;
}

.cat__ears::after {
    right: 0;
    border-right: 0.5em solid;
    transform-origin: 100% 0;
    transform: skewY(35deg);
    border-bottom-right-radius: 0.7em;
}

.cat__mustache {
    position: absolute;
    bottom: 1em;
    left: 52.5%;
    width: 1.5em;
    height: 0.2em;
    border-radius: 1em;
    transform: translateX(-50%) rotate(10deg);
    opacity: 0.75;
    box-shadow: 2.45em 0, -2.45em 0;
}

.cat__mustache::before,
.cat__mustache::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
    box-shadow: inherit;
}

.cat__mustache::before {
    transform: rotate(12.5deg);
}

.cat__mustache::after {
    transform: rotate(-10deg);
}

.cat__foots {
    position: absolute;
    left: 1.5em;
    top: -0.25em;
    z-index: 1;
    width: 2em;
    height: 1.25em;
    border-radius: 0 0 1em 1em;
    background-color: #f2c38b;
    transform: rotate(5deg);
    transform-origin: 50% 0%;
}

.cat__foots::before,
.cat__foots::after {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 1.75em;
    height: 2.5em;
    border: 0.5em solid;
    border-bottom: unset;
    border-radius: 2em 2em 0 0;
    background-color: #f0a75a;
}

.cat__foots::before {
    left: -1.5em;
    border-bottom-right-radius: 0.75em;
}

.cat__foots::after {
    right: -1.5em;
    border-bottom-left-radius: 0.75em;
}

.cat__ass .cat__foots {
    transform: rotate(180deg);
    background-color: unset;
}

.cat__ass .cat__foots::before,
.cat__ass .cat__foots::after {
    width: 1.85em;
}

.cat__body--fake {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transform-origin: calc(5em - 15vw) 0;
    transform: rotate(-10deg);
}

.cat__body--fake::after {
    content: '';
    position: absolute;
    left: 1.5em;
    width: 2em;
    height: 1em;
    border-radius: 0 0 1em 1em;
    background-color: #f2c38b;
}

.cat__body--fake::before {
    content: '';
    position: absolute;
    top: -15vw;
    right: 0;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    clip: rect(0 30vw 15vw 0);
    transform: rotate(10deg);
    box-shadow: inset 0 0 0 0.5em, inset 0 0 0 4.5em #f0a75a, inset 0 0 0 5em;
}

.cat__ass {
    position: absolute;
    top: 100%;
    right: 0;
    width: 5em;
    height: 5em;
}

.cat__tail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transform: rotate(1deg);
    transform-origin: -15vw 0;
    border-top: 0.5em solid;
    box-shadow: 0 -0.25em 0 #f0a75a;
}

.cat__tail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 0.4em;
    height: 0.4em;
    z-index: 1;
    background-color: #c5853d;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5em;
    transform: rotate(23.5deg) translateX(-0.25em);
    transform-origin: calc(30vw / - 2 + 2.5em) 0;
}

.cat__tail::before {
    content: '';
    position: absolute;
    top: - 15vw;
    right: 0;
    z-index: 2;
    width: 30vw;
    height: 30vw;
    border: 1.85em solid transparent;
    border-radius: 50%;
    transform: rotate(25deg);
    clip: rect(0 30vw 15vw 0);
    box-shadow: inset 0 0 0 0.5em #353952, inset 0 0 0 0.9em #c5853d, inset 0 0 0 1.4em #353952;
}

.cat__body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.cat__body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200%;
    border-radius: 50%;
    clip: rect(0 30vw 15vw 0);
    transition: transform 0.3s;
    box-shadow: inset 0 0 0 0.5em, inset 0 0 0 1.5em #f0a75a, inset 0 0 0 3.5em #f2c38b, inset 0 0 0 4.5em #f0a75a, inset 0 0 0 5em;
}

.box {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    /* background-color: #e7dfdd; */
    /* background-image: linear-gradient(#e7dfdd, #f3efd5, #e7dfdd); */
    z-index: 999999;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.box.disabled {
    display: none;
}



.intro {
    width: 90%;
    max-width: 50rem;
    padding-bottom: 1rem;
    margin: 0 auto 1em;
    padding-top: 0.5em;
    font-size: calc(1rem + 2vmin);
    text-transform: capitalize;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
    text-align: center;
}

.intro small {
    display: block;
    opacity: 0.5;
    font-style: italic;
    text-transform: none;
}

.info {
    margin: 0;
    padding: 1em;
    font-size: 0.9em;
    font-style: italic;
    font-family: serif;
    text-align: right;
    opacity: 0.75;
}

.info a {
    color: inherit;
}




.hamburger {
    display: none
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }



}

@font-face {
    font-family: 'Eastman';
    src: local('Eastman Regular'), local('Eastman-Regular'),
        url('../fonts/Eastman-Regular/Eastman-Regular.woff2') format('woff2'),
        url('../fonts/Eastman-Regular/Eastman-Regular.woff') format('woff'),
        url('../fonts/Eastman-Regular/Eastman-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.main-page-intro {
    background: url(../img/section1banner2.png) center center/cover no-repeat;
    background-attachment: fixed;

}



.intro-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: auto 1fr 150px;
    grid-template-areas:
        "header header header "
        "text text  . "
        "button .   . ";
    height: 100vh;
    row-gap: 30px;
    column-gap: 30px;

}

.navbar {
    grid-area: header;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;

}

.intro-sect {
    position: relative;
    font-family: 'Eastman';
    padding: 200px 0 150px 0;
    color: #000;
    text-align: left;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: 0.5px;
}

.intro-main-picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.navbar-absolute {

    width: 100%;
    z-index: 3;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    text-decoration: none;

}



.nav-link-btn {
    border-radius: 40px;
    border: 2px solid #000;
    width: 220px;
    height: 69px;
    padding: 18px 45px;
    text-decoration: none;
    color: black
}

.navbar-nav {
    display: flex;
    justify-content: space-between;

    font-family: 'Eastman';

    padding: 32px 0px;
    color: #000;
    text-align: center;
    font-size: clamp(0.54rem, 0.3926rem + 0.6549vw, 1.375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: 0.5px;
    list-style-type: none;


}

.navbar .navbar-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.navbar-flex {
    position: relative;
}


.navbar-brand img {
    filter: brightness(0);
    margin-right: 30px;
    margin-top: 10px;
}

.nav-item:not(:last-child) {

    margin-right: 15px;
}

.navbar-top-line {
    display: flex;
    justify-content: flex-end;
    order: 2;
    width: calc(100% - 176px);
    margin: -30px 0 0 auto;
    list-style: none
}

.navbar-top-line-tel {
    font-size: 16px;
    font-weight: 700
}

.navbar-top-line .fa-facebook {
    color: white;
    font-size: 24px
}

.navbar-top-line-item {
    color: white;
    margin: 0 10px
}

.navbar-top-line-item:last-of-type {
    margin-right: 0
}

.navbar-top-line-item a {
    color: white;
    text-decoration: none
}

.navbar-top-line-lang a {
    padding: 5px 7px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700
}

.navbar-top-line-lang .active {
    background-color: #f0145a
}

.navbar-brand {
    order: 1
}

.navbar-collapse {
    order: 3
}




.home-h1 {

    padding-top: 67px;
    font-family: 'Eastman';
    font-size: clamp(2rem, 1.1346rem + 3.8462vw, 4.5rem);
    font-style: normal;
    line-height: clamp(2rem, 0.9269rem + 4.7692vw, 5.1rem);
    letter-spacing: -1px;
    color: black;
    font-weight: 500;
    text-shadow: 1px 1px 1px white;

}



/* .intro-sect .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 50px;
} */

.intro-sect-left-block {
    width: 45%;

}



.intro-main-text {

    text-align: left;
    grid-area: text;
    display: flex;

    align-items: flex-end;

}

.intro-sect-cat {
    position: absolute;
    left: 30%;
    top: 120px;
}

.intro-feeder-wrapper {
    width: 400px;


}

.intro-sect-feeder {
    position: absolute;
    bottom: 120px;
    right: 10px;

    height: 400px;
    object-fit: contain;

}

.intro-sect-fountain {
    position: absolute;
    bottom: 200px;
    right: 330px;

    height: 170px;
    object-fit: contain;
}



.intro-sect-details {

    grid-area: button;
    padding: 20px 30px 0 0;
}


.intro-sect-details-link {

    border-radius: 30px;
    border: 2px solid #000;

    padding: 24px 70px;

    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.21px;
}

.presentation-container {
    text-align: center;
    font-weight: 400;

}




.presentation-text {
    text-align: center;
    font-size: clamp(0.75rem, 0.5337rem + 0.9615vw, 1.375rem);
    ;
    font-style: normal;

    line-height: clamp(0.75rem, 0.2481rem + 2.2308vw, 2.2rem);

    letter-spacing: 0.5px;
    max-width: 1514px;
    margin: 84px auto 49px auto;

}

.presentation-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation-logo-right {
    margin: 15px 0 0 15px;
}

.presentation-slogan,
{
color: #000;
text-align: center;
font-size: clamp(1rem, 0.8269rem + 0.7692vw, 1.5rem);
}

.presentation-products {

    display: flex;

    column-gap: 10px;
    justify-content: space-around;
    align-items: center;

    margin: 0px 0px;
}

.presentation-product {
    display: grid;
    grid-template-rows: repeat(3, auto 1fr auto);
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    height: 400px;
    width: 400px;
    background: linear-gradient(180deg, #D1D1D1 0%, #919597 56.5%, #D9D9D9 100%);
    position: relative;
}

.presentation-product-picture-container {
    display: flex;
    justify-content: center;
    align-items: baseline;

    width: 260px;
    height: 260px;
    margin: 40px auto 0;
}

.presentation-product-picture-container.last {
    height: 190px;
    width: 190px;

}

.presentation-product-picture {

    max-width: 100%;
    height: 260px;
    display: block;
    object-fit: scale-down;
    position: absolute;
    bottom: 70px;

}

.presentation-product-picture.last {
    height: 190px;
}

.presentation-product-picture:hover {
    transform: scale(110%);
    transition-duration: transform .5s;
}

.presentation-product-header {
    font-size: clamp(1rem, 0.8269rem + 0.7692vw, 1.5rem);
    margin-top: 10px;
}

.presentation-product:last-child.presentation-product-picture {
    padding-top: 65px;
}

.presentation-product-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    border-top: 1px solid #808080;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 20px);
    height: 50px;
    font-size: 11px;
}

.presentation-product-feature,
.presentation-product-feature-benefit {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.presentation-product-feature-type {
    text-align: left;
}

.presentation-product-feature-benefit {
    text-align: right;
}

.presentation-product-feature-amount,
.presentation-product-feature-benefit-amount {
    margin-left: 10px;
    color: #BE4C00;

    font-size: 14.375px;
    line-height: 16px;
}

.button {
    display: inline-block;
    transition: all 1s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* .button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -2;
} */

.button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(184, 181, 181, 0.5);
    transition: all 1s;
    border-radius: 30px;
    z-index: -1;
}

/* .button:hover {
    color: #fff;
} */

.button:hover:before {
    width: 100%;
}

.features {
    margin-top: 60px;
}

.feature {
    border-radius: 6.747px;
    background: var(--Light-theme-default-type-color, #F4F4F4);
    padding: 32px 24px 22px 54px;

}



.features-container {
    grid-template-columns: repeat(2, minmax(0, 792px));

    justify-content: space-between;
    margin: 30px auto;
    grid-gap: 30px;
    display: grid;
}





.feature-logo-wrapper {
    width: 86px;
    height: 86px;
    border-radius: 64px;
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: heartbeat;

    animation-duration: 1s;
    animation-delay: 1s;

    transition: all .3s;
}

.feature-logo-wrapper svg {
    width: 60px;
    height: 60px;

}

.feature-header {
    font-size: clamp(1rem, 0.8269rem + 0.7692vw, 1.5rem);
    font-style: normal;

}


.feature-text {
    font-size: clamp(0.75rem, 0.6202rem + 0.5769vw, 1.125rem);
    line-height: 38.4px;
    letter-spacing: 0.5px;
    max-width: 792px;
    margin-top: 16px;
    text-align: justify;
}

.devices-benefits {
    background: var(--Light-theme-default-type-color, #F4F4F4);
    margin-top: 150px;
    padding-bottom: 50px;
}

.devices-benefits-header {
    grid-template-columns: repeat(2, 1fr);
    margin: 89px auto 0;
    grid-gap: 40px;
    display: grid;
}




.devices-benefits-slogan,
.connection-slogan {
    color: #000;
    font-size: clamp(1.2rem, 0.7500rem + 2.0000vw, 2.5rem);
    line-height: clamp(1.2rem, 0.4281rem + 3.4308vw, 3.43rem);
    padding-top: 89px;

}

.devices-benefits-text {
    margin-top: 286px;
    font-size: clamp(1rem, 0.8702rem + 0.5769vw, 1.375rem);
}

.devices-benefits-button-wrapper,
.benefits-flex-picture-button-wrapper {
    margin-top: 55px;
    position: relative;
}

.devices-benefits-button,
.benefits-flex-picture-button,
.connection-button {
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid #000;

    padding: 24px 70px 24px 70px;

    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: clamp(0.8rem, 0.6875rem + 0.5000vw, 1.125rem);
    font-style: normal;
    font-weight: 400;


}

.benefits-flex-picture-button-wrapper:before {
    content: "";
    position: absolute;
    background-image: url(../icons/question.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    left: 28px;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
}




.devices {
    grid-template-columns: repeat(2, minmax(180px, 505px));
    margin: 110px 0 30px;
    grid-row-gap: 100px;
    grid-column-gap: 40px;
    justify-content: space-between;
    display: grid;
}

.devices-benefits-block:nth-child(3n+1) {
    margin-left: 23px;
}

.devices-benefits-block:nth-child(5) {
    margin-left: 23px;
}

.benefits-flex-picture-wrapper {
    position: relative;
}

.benefits-flex-picture {
    max-width: 800px;
    object-fit: cover;
    width: 100%;

}

/* .benefits-flex-picture:hover {
    filter: brightness(30%);
    transition: all .3s;
} */




.benefits-flex-picture-text {
    display: none;
    color: white;
    font-size: clamp(1rem, 0.6538rem + 1.5385vw, 2rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;

}

.benefits-flex-picture:hover+.benefits-flex-picture-text {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.7);
    transition: all .5s ease-out;
} */
}

.benefits-flex-picture-text:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .7s;

}

.benefits-flex-picture-text:before {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid white;
    content: "";
    transition: all .5s;
}

.benefits-flex-list,
.connection-flex-list {
    color: #666;
    font-size: clamp(0.8rem, 0.6442rem + 0.6923vw, 1.25rem);
    line-height: clamp(1rem, -0.3846rem + 6.1538vw, 5rem);
    position: relative;
    list-style: none;
    counter-reset: my-counter;

}

.benefits-flex-list-item::before,
.connection-benefits-list-item::before {
    content: '0' counter(my-counter);

    /* Выводим число */
    counter-increment: my-counter;
    /* Увеличиваем значение счётчика */
    position: absolute;
    transform: translateX(-63px);
    margin-right: 1.5em;
}

.benefits-flex-list-item:not(:last-child) {
    border-bottom: 1px solid #EBEBEB;
}



.connection {
    background: #EFE9E5;

}

.connection-main-block {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 122px;
    column-gap: 30px;

}

.connection-slogan {
    width: 50%;
}

.connection-buttons {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
}

.connection-button-wrapper {
    margin-top: 50px;
}

.connection-button {
    padding: 16px 25px 16px 55px;
}

.apple-button,
.android-button {
    position: relative;
    cursor: pointer;

}

.apple-button::before,
.android-button::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -70%);
    object-fit: contain;
}


.apple-button::before {
    background-image: url(../icons/apple.svg);
}

.android-button::before {
    background-image: url(../icons/google.svg);
}



.connection-picture {
    object-fit: contain;
    width: 60vw;

    overflow: hidden;


}



.connection-text {
    font-size: clamp(1rem, 0.8702rem + 0.5769vw, 1.375rem);

}

.connection-flex-list {
    margin-left: 23px;
}

@media(max-width: 1720px) {


    .presentation-product {

        margin: 10px;

    }
}

@media (min-width: 1400px) {
    .container-sm {
        padding: 0px
    }
}

@media(max-width: 1265px) {



    /* .container {
        padding: 0 10px;
    } */

    .intro-sect-feeder {
        transform: scale(60%);
        transition: transform 1s;
        right: 0;

    }

    .intro-sect-cat {
        transition: all .3s;
        left: 35%;
        top: 350px;


    }

    .navbar-nav {
        font-size: 1.5vmin;
    }

    .presentation-products {
        flex-wrap: wrap;
    }
}



@media (max-width: 992px) {
    .navbar-top-line {
        width: 100%;
        margin: 0 0 20px 0;
        justify-content: space-between;
        order: initial;
        padding: 0
    }

    .navbar-top-line-item {
        margin: 0
    }

    .navbar-top-line-item:nth-child(2),
    .navbar-top-line-item:nth-child(4) {
        display: none
    }

    .navbar-brand {
        order: initial
    }



}

@media (max-width: 880px) {


    .navbar-nav {
        font-size: 2vw;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
    }

    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: black;
        margin-bottom: 2px
    }

    .hamburger_active span {
        transition: .5s all;
        margin-bottom: -2px
    }

    .hamburger_active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg)
    }

    .hamburger_active span:nth-child(2) {
        display: none
    }

    .hamburger_active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg)
    }

    .navbar-nav {
        display: none
    }


}

@media (max-width: 780px) {
    .features-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .feature-logo-wrapper {
        width: 128px;
        margin: 0 auto;
    }

    .devices-benefits-header {
        grid-template-columns: 1fr;
    }

    .devices-benefits-text {
        margin-top: 0;
    }

    .benefits-flex-picture-button-wrapper {
        margin-top: 10px;
    }

    .benefits-flex-picture-button {
        padding: 10px;
    }

    .benefits-flex-picture-button-wrapper::before {
        background-image: none;
    }

    .benefits-flex-list,
    .connection-flex-list {
        padding-left: 5px;
        margin-top: 0px;
    }

    .benefits-flex-list-item::before,
    .connection-benefits-list-item::before {
        transform: translateX(-25px);
    }

    .devices {
        margin-top: 30px;
        grid-row-gap: 20px;
    }



    .connection-main-block {
        margin-top: 50px;
        grid-template-rows: 1fr;
    }

    .connection-picture-wrapper {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }

    .connection-picture {
        filter: opacity(35%);
        transition: filter 1s;

    }

    .connection-content {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        text-shadow: 1px 0px 0px black;

    }






}

@media (max-width: 540px) {
    .presentation-product-features {
        flex-wrap: wrap;
        justify-content: center;
    }
}