* {
    box-sizing: border-box;
    font-family: 'Eastman';
}

*::after {
    box-sizing: border-box
}

*:before {
    box-sizing: border-box
}

html {
    font-size: 16px;
    font-family: Eastman;
    font-weight: 400;
}

.preloader {
    display: none;

}

h3 {
    font-weight: 400;
}

/* .lottie-animation {

  } */

.preloader.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7dfdd;
    background-image: linear-gradient(#e7dfdd, #f3efd5, #e7dfdd);

}


.lottie-animation.disabled {
    display: none;
}


.lottie-animation {
    display: block;
}


.box {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    /* background-color: #e7dfdd; */
    /* background-image: linear-gradient(#e7dfdd, #f3efd5, #e7dfdd); */
    z-index: 999999;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.box.disabled {
    display: none;
}



.intro {
    width: 90%;
    max-width: 50rem;
    padding-bottom: 1rem;
    margin: 0 auto 1em;
    padding-top: 0.5em;
    font-size: calc(1rem + 2vmin);
    text-transform: capitalize;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
    text-align: center;
}

.intro small {
    display: block;
    opacity: 0.5;
    font-style: italic;
    text-transform: none;
}

.info {
    margin: 0;
    padding: 1em;
    font-size: 0.9em;
    font-style: italic;
    font-family: serif;
    text-align: right;
    opacity: 0.75;
}

.info a {
    color: inherit;
}




.hamburger {
    display: none
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }



}

@font-face {
    font-family: 'Eastman';
    src: local('Eastman Regular'), local('Eastman-Regular'),
        url('../fonts/Eastman-Regular/Eastman-Regular.woff2') format('woff2'),
        url('../fonts/Eastman-Regular/Eastman-Regular.woff') format('woff'),
        url('../fonts/Eastman-Regular/Eastman-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.main-page-intro {
    background: url(../img/section1banner2.png) center center/cover no-repeat;
    background-attachment: fixed;

}



.intro-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: auto 1fr 150px;
    grid-template-areas:
        "header header header "
        "text text  . "
        "button .   . ";
    height: 100vh;
    row-gap: 30px;
    column-gap: 30px;

}

.navbar {
    grid-area: header;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;

}

.intro-sect {
    position: relative;
    font-family: 'Eastman';
    padding: 200px 0 150px 0;
    color: #000;
    text-align: left;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: 0.5px;
}

.intro-main-picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.navbar-absolute {

    width: 100%;
    z-index: 3;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    text-decoration: none;

}



.nav-link-btn {
    border-radius: 40px;
    border: 2px solid #000;
    width: 220px;
    height: 69px;
    padding: 18px 45px;
    text-decoration: none;
    color: black
}

.navbar-nav {
    display: flex;
    justify-content: space-between;

    font-family: 'Eastman';

    padding: 12px 0px;
    color: #000;
    text-align: center;
    font-size: clamp(0.54rem, 0.3926rem + 0.6549vw, 1.375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: 0.5px;
    list-style-type: none;


}

.navbar .navbar-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.navbar-flex {
    position: relative;
}


.navbar-brand img {
    filter: brightness(0);
    margin-right: 30px;
    margin-top: 10px;
}

.nav-item:not(:last-child) {

    margin-right: 15px;
}

.navbar-top-line {
    display: flex;
    justify-content: flex-end;
    order: 2;
    width: calc(100% - 176px);
    margin: -30px 0 0 auto;
    list-style: none
}

.navbar-top-line-tel {
    font-size: 16px;
    font-weight: 700
}

.navbar-top-line .fa-facebook {
    color: white;
    font-size: 24px
}

.navbar-top-line-item {
    color: white;
    margin: 0 10px
}

.navbar-top-line-item:last-of-type {
    margin-right: 0
}

.navbar-top-line-item a {
    color: white;
    text-decoration: none
}

.navbar-top-line-lang a {
    padding: 5px 7px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700
}

.navbar-top-line-lang .active {
    background-color: #f0145a
}

.navbar-brand {
    order: 1
}

.navbar-collapse {
    order: 3
}




.home-h1 {

    padding-top: 67px;
    font-family: 'Eastman';
    font-size: clamp(2rem, 1.1346rem + 3.8462vw, 4.5rem);
    font-style: normal;
    line-height: clamp(2rem, 0.9269rem + 4.7692vw, 5.1rem);
    letter-spacing: -1px;
    color: black;
    font-weight: 500;
    text-shadow: 1px 1px 1px white;

}



/* .intro-sect .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 50px;
} */

.intro-sect-left-block {
    width: 45%;

}



.intro-main-text {

    text-align: left;
    grid-area: text;
    display: flex;

    align-items: flex-end;

}

.intro-sect-cat {
    position: absolute;
    left: 30%;
    top: 120px;
}

.intro-feeder-wrapper {
    width: 400px;


}

.intro-sect-feeder {
    position: absolute;
    bottom: 120px;
    right: 10px;

    height: 400px;
    object-fit: contain;

}

.intro-sect-fountain {
    position: absolute;
    bottom: 200px;
    right: 330px;

    height: 170px;
    object-fit: contain;
}



.intro-sect-details {

    grid-area: button;
    padding: 20px 30px 0 0;
}


.intro-sect-details-link {

    border-radius: 30px;
    border: 2px solid #000;

    padding: 24px 70px;

    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.21px;
}

.presentation-container {
    text-align: center;
    font-weight: 400;

}




.presentation-text,
.safety-text,
.pet-feedbacks-resume-text {
    text-align: center;
    font-size: clamp(0.75rem, 0.5337rem + 0.9615vw, 1.375rem);
    line-height: clamp(0.75rem, 0.2481rem + 2.2308vw, 2.2rem);
    letter-spacing: 0.5px;
    max-width: 1514px;

}

.presentation-text {
    margin: 84px auto 49px auto;
}

.presentation-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation-logo-right {
    margin: 15px 0 0 15px;
}

.presentation-slogan {
    color: #000;
    text-align: center;
    font-size: clamp(1rem, 0.8269rem + 0.7692vw, 1.5rem);
}

.presentation-products {

    display: flex;

    column-gap: 10px;
    justify-content: space-around;
    align-items: center;

    margin: 0px 0px;
}

.presentation-product {
    display: grid;
    grid-template-rows: repeat(3, auto 1fr auto);
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    height: 400px;
    width: 400px;
    background: linear-gradient(180deg, #D1D1D1 0%, #919597 56.5%, #D9D9D9 100%);
    position: relative;
}

.presentation-product-picture-container {
    display: flex;
    justify-content: center;
    align-items: baseline;

    width: 260px;
    height: 260px;
    margin: 40px auto 0;
}

.presentation-product-picture-container.last {
    height: 190px;
    width: 190px;

}

.presentation-product-picture {

    max-width: 100%;
    height: 260px;
    display: block;
    object-fit: scale-down;

    bottom: 70px;

}

.presentation-product-picture.last {
    height: 190px;
}

.presentation-product-picture:hover {
    transform: scale(110%);
    transition: transform .5s;
}

.presentation-product-header {
    font-size: clamp(1rem, 0.8269rem + 0.7692vw, 1.5rem);
    margin-top: 10px;
}

.presentation-product:last-child.presentation-product-picture {
    padding-top: 65px;
}

.presentation-product-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    border-top: 1px solid #808080;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 20px);
    height: 50px;
    font-size: 11px;
}

.presentation-product-feature,
.presentation-product-feature-benefit {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.presentation-product-feature-type {
    text-align: left;
}

.presentation-product-feature-benefit {
    text-align: right;
}

.presentation-product-feature-amount,
.presentation-product-feature-benefit-amount {
    margin-left: 10px;
    color: #BE4C00;

    font-size: 14.375px;
    line-height: 16px;
}

.button {
    display: inline-block;
    transition: all 1s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* .button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -2;
} */

.button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(184, 181, 181, 0.5);
    transition: all 0.3s;
    border-radius: 30px;
    z-index: -1;
}

/* .button:hover {
    color: #fff;
} */

.button:hover:before {
    width: 100%;
}

.features {
    padding-top: 140px;
}

.feature {
    border-radius: 6.747px;
    background: var(--Light-theme-default-type-color, #F4F4F4);
    padding: 32px 24px 22px 54px;

}



.features-container {
    grid-template-columns: repeat(2, minmax(0, 792px));

    justify-content: space-between;
    margin: 30px auto;
    grid-gap: 30px;
    display: grid;
}





.feature-logo-wrapper {
    width: 86px;
    height: 86px;
    border-radius: 64px;
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: heartbeat;

    animation-duration: 1s;
    animation-delay: 1s;

    transition: all .3s;
}

.feature-logo-wrapper svg {
    width: 60px;
    height: 60px;

}

.feature-header {
    font-size: clamp(1rem, 0.8269rem + 0.7692vw, 1.5rem);
    font-style: normal;
    margin-top: 27px;

}


.feature-text {
    font-size: clamp(0.75rem, 0.6202rem + 0.5769vw, 1.125rem);
    line-height: clamp(1rem, 0.8269rem + 0.7692vw, 1.5rem);
    letter-spacing: 0.5px;
    max-width: 792px;
    margin-top: 16px;
    text-align: justify;
}

.devices-benefits {
    background: var(--Light-theme-default-type-color, #F4F4F4);
    margin-top: 150px;
    padding-bottom: 50px;
}

.devices-benefits-header {
    grid-template-columns: repeat(2, 1fr);
    margin: 89px auto 0;
    grid-gap: 40px;
    display: grid;
}




.devices-benefits-slogan,
.connection-slogan,
.safety-slogan,
.video-title-page-slogan,
.pet-feedbacks-header,
.pet-feedbacks-resume-header,
.characteristics-slogan,
.pst-set-header {
    color: #000;
    font-size: clamp(1.2rem, 0.7500rem + 2.0000vw, 2.5rem);
    line-height: clamp(1.2rem, 0.4281rem + 3.4308vw, 3.43rem);
    padding-top: 89px;
    margin: 0;

}

.devices-benefits-text,
.characteristics-download-text {
    /* margin-top: 286px; */
    font-size: clamp(1rem, 0.8702rem + 0.5769vw, 1.375rem);
}

.devices-benefits-second-block {
    padding-top: 286px;
}

.devices-benefits-button-wrapper,
.benefits-flex-picture-button-wrapper {
    margin-top: 55px;
    position: relative;
}

.devices-benefits-button,
.benefits-flex-picture-button,
.connection-button,
.pet-feedbacks-resume-button {
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid #000;

    padding: 16px 70px 16px 70px;

    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: clamp(0.8rem, 0.6875rem + 0.5000vw, 1.125rem);
    font-style: normal;
    font-weight: 400;


}

.benefits-flex-picture-button-wrapper:before {
    content: "";
    position: absolute;
    background-image: url(../icons/question.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    left: 28px;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
}




.devices {
    grid-template-columns: repeat(2, minmax(180px, 505px));
    margin: 110px 0 30px;
    grid-row-gap: 100px;
    grid-column-gap: 40px;
    justify-content: space-between;
    display: grid;
}

.devices-benefits-block:nth-child(3n+1) {
    margin-left: 23px;
}

.devices-benefits-block:nth-child(5) {
    margin-left: 23px;
}

.benefits-flex-picture-wrapper {
    position: relative;
}



.benefits-flex-picture {
    max-width: 800px;
    object-fit: cover;
    width: 100%;

}




.benefits-flex-picture-text {
    display: none;
    color: white;
    font-size: clamp(1rem, 0.6538rem + 1.5385vw, 2rem);
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    top: 0;
    left: 0;
    text-align: center;
    margin: auto;
    width: 100%;
    height: calc(100% - 4px);

}

.benefits-flex-picture:hover+.benefits-flex-picture-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.7);
    transition: all .5s ease-out;
} */

}






.benefits-flex-picture-text:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all .7s;

}

.benefits-flex-picture-text-second {
    line-height: 1px;
}

/* 
.benefits-flex-picture-text:before {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    /* border-bottom: 1px solid white; */
/* content: "";
    transition: all .5s; */
/* } */

.benefits-flex-list,
.connection-flex-list {
    color: #666;
    font-size: clamp(0.8rem, 0.6442rem + 0.6923vw, 1.25rem);
    line-height: clamp(1rem, -0.3846rem + 6.1538vw, 5rem);
    position: relative;
    list-style: none;
    counter-reset: my-counter;

}

.benefits-flex-list-item::before,
.connection-benefits-list-item::before {
    content: '0' counter(my-counter);

    /* Выводим число */
    counter-increment: my-counter;
    /* Увеличиваем значение счётчика */
    position: absolute;
    transform: translateX(-63px);
    margin-right: 1.5em;
}

.benefits-flex-list-item:not(:last-child) {
    border-bottom: 1px solid #EBEBEB;
}



.connection {
    background: #EFE9E5;
    padding-bottom: 100px;

}

.connection-main-block {
    display: grid;
    grid-template-areas:
        "picture  main_text "
        "picture  list";
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 122px;
    column-gap: 30px;
    row-gap: 30px;

}

.connection-picture-wrapper {
    grid-area: picture;
    overflow: hidden;
}

.connection-text {
    grid-area: main_text;
}

.connection-benefits-list {
    grid-area: list;
}

.connection-slogan {
    width: 50%;
}

.connection-buttons {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
}

.connection-button-wrapper {
    margin-top: 50px;
}

.connection-button {
    padding: 16px 25px 16px 55px;
}

.apple-button,
.android-button {
    position: relative;
    cursor: pointer;

}

.apple-button::before,
.android-button::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -70%);
    object-fit: contain;
}


.apple-button::before {
    background-image: url(../icons/apple.svg);
}

.android-button::before {
    background-image: url(../icons/google.svg);
}



.connection-picture {
    object-fit: contain;
    width: 60vw;

    max-width: 1200px;

    overflow: hidden;


}



.connection-text,
.video-title-page-text {
    font-size: clamp(1rem, 0.8702rem + 0.5769vw, 1.375rem);

}

.connection-flex-list {
    margin-left: 23px;
}

.safety {
    padding: 150px 0 230px;
}

.safety-slogan {
    text-align: center;
    padding: 0 30px;
}

.safety-text,
.pet-feedbacks-resume-text {
    margin-top: 43px;
}


.video-frame-container {
    max-width: 1400px;
    margin: 0 auto;
    /* display: flex; */
    padding-top: 160px;
}

.video-wrapper {
    position: relative;
    display: none;


    width: 100%;
    height: 100%;


    overflow: hidden;
    padding-bottom: 75%;
    opacity: 0;

}


#player {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;

    transform: all .5s;



}

.video-title-page {
    position: relative;
    transform: all .5s;
    /* background: center center/ cover no-repeat url(../img/video-title-page.png); */

}

.video-title-page-picture {

    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all .3s ease-in-out;
    min-height: 250px;
}

.transparent {
    opacity: 0;
}


.hidden {
    display: none;
}

.not_transparent {
    opacity: 1;
}


.video-title-page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 0;
}

.video-title-page-slogan {

    width: 100%;


    color: white;
    padding-left: 50px;
    padding-top: 5%;
    text-shadow: 1px 1px black;
}


.video-title-page-text {

    width: 70%;
    color: white;
    padding-left: 50px;
    padding-top: 5%;
    text-shadow: 1px 1px black;
}

.video-icon-wrapper {
    position: relative;

    height: 93px;
    width: 93px;
    border-radius: 50%;

    background-color: white;
    margin-left: 50px;
    margin-top: 5%;
    cursor: pointer;
}

.video-icon-wrapper::after {
    position: absolute;
    content: "Смотреть";
    color: white;
    margin-left: 120px;
    font-size: 1.68rem;
    line-height: 93px;
    text-shadow: 1px 1px black;
}

.video-arrow-icon {
    position: absolute;
    height: 18px;
    width: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pet-feedbacks-header {
    width: 55%;
    padding: 150px 0 75px;

}

/* .pet-feedbacks-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
} */

.pet-feedbacks-slider {
    padding: 44px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.swiper {
    width: 100%;
}

.slider-slide {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    padding: 0 10px;
}

.slider-content-text {
    font-size: clamp(1rem, 0.6971rem + 1.3462vw, 1.875rem);
    line-height: clamp(1rem, 0.1588rem + 3.7385vw, 3.43rem);
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
}

.slider-content-user {
    font-size: clamp(0.8rem, 0.6235rem + 0.7846vw, 1.31rem);
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}

.slider-picture {

    max-width: 600px;
    max-height: 600px;
    object-fit: cover;

    flex-basis: 50%;
    flex-shrink: 1;
}

.slider-picture img {
    width: 100%;

    object-fit: cover;

}

.slider-content {
    width: 50%;
    flex-basis: 50%;
    flex-shrink: 1;

}

.swiper-buttons {
    margin-top: 30px;
    margin-right: 30px;
    text-align: right;

}

.swiper-button-next,
.swiper-button-prev {
    position: static;
    display: inline-block;
    margin-right: 30px;

}

.swiper-button-next:after {
    content: '';
    background-image: url(../icons/next-button.svg);
}

.swiper-button-prev::after {
    content: '';
    background: center center /30% no-repeat url(../icons/prev-button.svg);
    color: black;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.04);
    height: 45px;
    width: 45px;
    border-radius: 50%;

    overflow: hidden;
}

.swiper-button-next::after {
    content: '';
    background: center center /30% no-repeat url(../icons/next-button.svg);
    color: black;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.04);
    height: 45px;
    width: 45px;
    border-radius: 50%;

    overflow: hidden;

}

.slider-content-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slider-content-user-avatar-wrapper {

    height: 113px;
    width: 113px;
}

.slider-content-user-avatar {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.slider-content-user-name {
    margin-left: 30px;
}

.pet-feedbacks-resume-header {
    text-align: center;
}

.pet-feedbacks-resume-button-wrapper {
    text-align: center;
    margin-top: 37px;
}

.pet-feedbacks-resume {
    padding-bottom: 120px;
}

.customer-form {
    background: url(../img/form.png) center center/cover no-repeat;
    min-height: 740px;
}

.customer-form-form {
    margin: 0 auto;
    width: 30%;
    padding: 70px 0;
}

.customer-form-name,
.customer-form-email,
.customer-form-text {
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    margin-top: 50px;
    border-bottom: 1px solid white;
}

.customer-form-text {
    resize: vertical;
    max-height: 300px;

}

textarea::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.customer-form-name:focus-visible,
.customer-form-email:focus-visible,
.customer-form-text:focus-visible {
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}

.customer-form-name::placeholder,
.customer-form-email::placeholder,
.customer-form-text::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.1rem;
    line-height: 1.1rem;

}

.customer-form-element {
    border: none;
}

.customer-form-submit {
    background: transparent;
    border: 1.46px solid white;
    text-align: center;
    border-radius: 22px;
    padding: 16px 36px;
    margin-top: 65px;
    color: white;
    font-size: 1rem;
    cursor: pointer;

}

.customer-form-element--invalid {
    color: orange;
    font-weight: 1200;
}

.customer-form-submit:focus-visible {
    border: none;
}

.final-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 80px 75px;
}

.final-left-list,
.final-right-list {
    list-style: none;
}

.final-left-list-item,
.final-right-list-item {
    margin-top: 30px;
}

.final-left-list-item-link,
.final-right-list-item-link {
    text-decoration: none;
    color: black;

}

.final-right-list-item-logo-text {
    margin-top: 5px;
    width: 60%;
}

.footer {
    font-size: clamp(0.7rem, 0.6827rem + 0.0769vw, 0.75rem);
}

.footer-container {
    padding-bottom: 100px;
}

.footer-divider {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    margin: 0 auto 30px;
}

.footer-policy {

    color: black;


}

.pst-page-body {
    margin: 0;
}

/* .pst-wrapper {
    padding-top: 150px;
} */



.pst-page-header {
    position: sticky;
    top: 0;
    z-index: 99999999999;
    width: 100%;
    background-color: white;

    -webkit-box-shadow: 0px 17px 38px -6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 17px 38px -6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 17px 38px -6px rgba(0, 0, 0, 0.25);
}

.pst-page-intro-container {
    padding-top: 47px;

}

.pst-page.slider-content {
    margin-top: 30px;
}

.pst-page.slider-content-header,
.pst-page-benefits-header {
    font-size: clamp(1rem, 0.6971rem + 1.3462vw, 1.875rem);
}

.pst-page.slider-content-text,
.pst-page-benefits-text {
    font-size: clamp(0.8rem, 0.6875rem + 0.5000vw, 1.125rem);
    line-height: clamp(0.8rem, 0.4538rem + 1.5385vw, 1.8rem);
    margin-top: 30px;
    color: black;
}

.pst-page.swiper-button-next::after,
.pst-page.swiper-button-prev::after {
    background-color: #000;


}

.pst-page.swiper-button-prev::after {
    background-image: url(../icons/arrows/arrow_forward_white.svg);
}

.pst-page.swiper-button-next::after {
    background-image: url(../icons/arrows/arrow_right_white.svg);
}

.pst-gallery-wrapper {
    margin-top: 46px;
    display: flex;
    gap: 16px;

    justify-content: space-between;
    align-items: flex-start;

}

.pst-gallery-image {
    flex-basis: 50%;
}

.pst-gallery-image img {
    object-fit: cover;
    width: 100%;

}

.pst-page-tabs-container {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pst-page-tabs-section {
    position: sticky;
    top: 87px;
    background: white;
    z-index: 101;
}

.pst-page-tabs {
    list-style: none;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;



}

.pst-page-tabs>input[type="radio"] {
    display: none;
}

.pst-page-tabs-list-item-link {
    color: black;
    font-size: clamp(0.8rem, 0.6442rem + 0.6923vw, 1.25rem);
    line-height: clamp(0.8rem, 0.6442rem + 0.6923vw, 1.25rem);
    padding-bottom: 25px;
    font-weight: 800;
    text-decoration: none;
    transition: color .15s ease-in-out, border-color .15s ease-in-out;


}


.pst-page-tabs-list-item-link:hover {
    border-bottom: 2px solid black;
}

.pst-page-benefits {
    padding-top: 127px;
}

.pst-page-benefits-blocks {
    grid-template-columns: repeat(2, minmax(180px, 505px));

    grid-row-gap: 100px;
    grid-column-gap: 40px;
    justify-content: space-between;
    display: grid;
}

.pst-page-benefits-small-header {
    font-size: clamp(0.8rem, 0.6875rem + 0.5000vw, 1.125rem);
    line-height: clamp(0.8rem, 0.4538rem + 1.5385vw, 1.8rem);
    margin-top: 30px;
}

.feature-logo-wrapper svg {
    height: 50px;
    width: 50px;
}

.characteristics {
    padding-top: 100px;
}

.characteristics-download {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.characteristics-download-text {
    margin-top: 30px;
}

.characteristics-download-link-wrapper {
    margin-top: 15px;
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 5px;
}


.characteristics-download-link {
    font-size: clamp(1rem, 0.8269rem + 0.7692vw, 1.5rem);
    font-weight: 1000;
    color: black;
    position: relative;
    line-height: clamp(1rem, 0.8269rem + 0.7692vw, 1.5rem);
    text-decoration: none;
}

.characteristics-download-link::after {
    position: absolute;
    content: '';
    background: center center /cover no-repeat url(../icons/download.svg);
    width: 10px;
    height: 10px;
    top: 60%;
    right: -10px;
    transform: translate(100%, -50%);
}

.characteristics-list {
    margin-top: 30px;
}

.characteristics-list-item {
    display: flex;
    justify-content: space-between;
}

.characteristics-list-item-column-left {
    flex-basis: 60%;
    text-align: left;
    padding: 36px 0;
    font-weight: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.characteristics-list-item-column-right {
    flex-basis: 40%;
    text-align: left;
    padding: 36px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.characteristics-list-item:last-child>.characteristics-list-item-column-right,
.characteristics-list-item:last-child>.characteristics-list-item-column-left {
    border-bottom: none;
}

.pst-set-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding-top: 170px;
    padding-bottom: 70px;
}

.pst-set-image {
    flex-basis: 50%;
}

.pst-set-image img {
    width: 100%;
    object-fit: cover;
}

.pst-set-content {
    flex-basis: 50%;
    padding-left: 30px;
}

.pst-set-header {
    padding-top: 30px;
}

.pst-set-list {
    padding-left: 20px;
}

@media(max-width: 1720px) {


    .presentation-product {

        margin: 10px;

    }
}

@media (min-width: 1400px) {
    .container-sm {
        padding: 0px
    }
}

@media(max-width: 1265px) {



    /* .container {
        padding: 0 10px;
    } */

    .intro-sect-feeder {
        transform: scale(60%);
        transition: transform 1s;
        right: 0;

    }

    .intro-sect-cat {
        transition: all .3s;
        left: 35%;
        top: 350px;


    }

    .navbar-nav {
        font-size: 1.5vmin;
    }

    .presentation-products {
        flex-wrap: wrap;
    }
}



@media (max-width: 992px) {
    .navbar-top-line {
        width: 100%;
        margin: 0 0 20px 0;
        justify-content: space-between;
        order: initial;
        padding: 0
    }

    .navbar-top-line-item {
        margin: 0
    }

    .navbar-top-line-item:nth-child(2),
    .navbar-top-line-item:nth-child(4) {
        display: none
    }

    .navbar-brand {
        order: initial
    }

    .connection-main-block {
        grid-template-columns: 1fr;
        grid-template-areas:
            " main_text"
            "picture "
            "list ";
        justify-content: center;
    }

    .connection-picture-wrapper {
        padding-left: 30%;
    }


}

@media (max-width: 880px) {


    .navbar-nav {
        font-size: 2vw;
    }

    .hamburger {
        display: block;
        /* position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%); */
        width: 26px;
        height: 12px;
    }

    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: black;
        margin-bottom: 2px
    }

    .hamburger_active span {
        transition: .5s all;
        margin-bottom: -2px
    }

    .hamburger_active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg)
    }

    .hamburger_active span:nth-child(2) {
        display: none
    }

    .hamburger_active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg)
    }

    .navbar-nav {
        display: none
    }


}

@media (max-width: 780px) {

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }



    .features-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .feature {
        padding: 32px 14px 22px 14px;
    }

    .feature-logo-wrapper {

        margin: 0 auto;
    }

    .devices-benefits-header {
        grid-template-columns: 1fr;
    }

    .devices-benefits-second-block {
        padding-top: 10px;
    }

    .benefits-flex-picture-button-wrapper {
        margin-top: 10px;
    }

    .benefits-flex-picture-button {
        padding: 10px;
    }

    .benefits-flex-picture-button-wrapper::before {
        background-image: none;
    }

    .benefits-flex-list,
    .connection-flex-list {
        padding-left: 5px;
        margin-top: 0px;
    }

    .benefits-flex-list-item::before,
    .connection-benefits-list-item::before {
        transform: translateX(-25px);
    }

    .devices {
        margin-top: 30px;
        grid-row-gap: 20px;
    }



    .connection-main-block {
        margin-top: 50px;
        grid-template-rows: 1fr;
    }

    .connection-picture-wrapper {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }

    /* .connection-picture {
        filter: opacity(35%);
        transition: filter 1s;

    } */

    .connection-text {
        display: none;
    }

    .pet-feedbacks-header {
        width: 100%;
        text-align: center;
    }

    .customer-form-form {
        width: 70%
    }

    .final-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .final-right-list-item,
    .final-left-list-item {

        text-align: center;
        margin-top: 10px;
    }

    .final-right-list-item-logo-text a {
        text-align: center;
    }

    .final-right-list-item-logo-text {
        margin: 5px auto;
    }

    .pst-page-tabs-container {
        border-bottom: none;
    }

    .pst-page-tabs {
        flex-direction: column;
        align-items: center;


    }

    .pst-page-tabs-list-item-link {
        padding: 5px 5px;
    }

    .pst-page-tabs-list-item-link:hover {
        padding-bottom: 5px;
    }








}

@media (max-width: 570px) {



    .intro-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'text'
            'button';
    }


    .connection-slogan {
        width: 100%;
        text-align: center;
    }

    .connection-buttons {
        display: flex;
        flex-direction: column;
    }

    .connection-button-wrapper {

        margin: 10px auto 0;
    }

    .apple-button::before,
    .android-button::before {
        left: 15%;
    }



    .devices {
        grid-template-columns: 1fr;
    }

    .devices-benefits-container {
        text-align: center;
    }

    .devices-benefits-block:nth-child(1) {
        order: 2
    }

    .devices-benefits-block:nth-child(2) {
        order: 1;
    }

    .devices-benefits-block:nth-child(3) {
        order: 3;
    }

    .devices-benefits-block:nth-child(4) {
        order: 4;
    }

    .devices-benefits-block:nth-child(5) {
        order: 6;
    }



    .devices-benefits-block:nth-child(6) {
        order: 5;
    }

    .video-icon-wrapper {
        height: 50px;
        width: 50px;
    }

    .video-icon-wrapper::after {
        line-height: 50px;
        margin-left: 70px;
    }

    .pst-page-benefits-blocks {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .pst-page-benefits-block:nth-child(1) {
        order: 1;
    }

    .pst-page-benefits-block:nth-child(2) {
        order: 2;
    }

    .pst-page-benefits-block:nth-child(3) {
        order: 4;
    }

    .pst-page-benefits-block:nth-child(4) {
        order: 3;
    }

    .pst-page-benefits-block:nth-child(5) {
        order: 5;
    }

    .pst-page-benefits-block:nth-child(6) {
        order: 6;
    }

    .pst-page-benefits-block:nth-child(8) {
        order: 7;
    }

    .pst-page-benefits-block:nth-child(7) {
        order: 8;
    }


}

@media (max-width: 540px) {
    .presentation-product-features {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 400px) {

    .pst-gallery-wrapper {
        flex-wrap: wrap;
    }

}