@font-face {
    font-family: 'Eastman';
    src: local('Eastman Regular'), local('Eastman-Regular'),
        url('Eastman-Regular.woff2') format('woff2'),
        url('Eastman-Regular.woff') format('woff'),
        url('Eastman-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }